POST http://localhost/api/v1/token/request
Accept: application/json;
Content-Type: application/json;

{"email": "email@example.com", "password": "password"}

###

GET http://localhost/api/v1/reviews
Accept: application/json;
Content-Type: application/json;
Authorization: Bearer n|qwertyuiopasdfghjklzxcvbnm

###

GET http://localhost/api/v1/models
Accept: application/json;
Content-Type: application/json;
Authorization: Bearer n|qwertyuiopasdfghjklzxcvbnm

###

POST http://localhost/api/v1/reviews
Accept: application/json;
Content-Type: application/json;
Authorization: Bearer n|qwertyuiopasdfghjklzxcvbnm
